---
import BaseLayout from "../layouts/BaseLayout.astro";
import { projects } from "../data/projects";
---

<BaseLayout>
  <h1>Projects</h1>

  <section class="projects">
    {projects.map((project) => (
      <div class="project">
        <div class="project-id">[ID: {project.id}]</div>
        <h2 class="project-title">{project.title}</h2>

        <p class="project-meta">
          <strong>Description:</strong> {project.description}<br />
          <strong>Stack:</strong> {project.stack.join(", ")}<br />
        </p>

        <div class="project-links">
          <a href={project.demo}>Demo</a>
        </div>

        <div class="project-links">
          <a href={project.code}>Code</a>
        </div>
      </div>
    ))}
  </section>
</BaseLayout>